<html>
	<head>
		<style>
			span {
				font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
				font-size: 10px;
				font-weight: 300;
			}
			span.pos {
				color: gray;
				font-weight: 200;
				padding-left: 5px
			}
			span.meanings {
				color: #08c;
			}
			span.quote {
				font-style: italic;
			}
			div.usages {
				margin-top: 30px;
			}
			div.bottom {
				margin-top: 3px;
				margin-bottom: 10px;
			}
			div.usages span {
				display: inline-block;
				margin-top: 3px;
			}
		</style>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
	</head>
	<body>
		<div class='container'>
			<div class='translation'>
			</div>
			<div class='usages'>
			</div>
		</div>
	</body>
</html>